In [80]:
import numpy as np
import pandas as pd

In [81]:
df = pd.read_csv('C:\\Users\\kousi\\Documents\\hackathon\\ml_datasets\\Student_Mental_health.csv')

In [82]:
df.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

Data Cleaning

In [83]:
df.isnull().sum()

Timestamp                                       0
Choose your gender                              0
Age                                             1
What is your course?                            0
Your current year of Study                      0
What is your CGPA?                              0
Marital status                                  0
Do you have Depression?                         0
Do you have Anxiety?                            0
Do you have Panic attack?                       0
Did you seek any specialist for a treatment?    0
dtype: int64

In [84]:
# only one missing value in the Age so lets remove it.
df.dropna(inplace=True)

In [85]:
df.isnull().sum()

Timestamp                                       0
Choose your gender                              0
Age                                             0
What is your course?                            0
Your current year of Study                      0
What is your CGPA?                              0
Marital status                                  0
Do you have Depression?                         0
Do you have Anxiety?                            0
Do you have Panic attack?                       0
Did you seek any specialist for a treatment?    0
dtype: int64

In [86]:
# we dont need Timestamp so lets remove it
df_new = df.drop('Timestamp', axis=1)

In [87]:
df_new.head()

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [88]:
df_new["Choose your gender"].value_counts()

# Choose your gender
# Female    75
# Male      25

df_new["Choose your gender"] = df_new["Choose your gender"].replace({"Female": 0, "Male": 1})

C:\Users\kousi\AppData\Local\Temp\ipykernel_18996\2241623934.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new["Choose your gender"] = df_new["Choose your gender"].replace({"Female": 0, "Male": 1})

In [89]:
df_new.head()

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,0,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,1,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,1,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,0,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,1,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [90]:
df_new["What is your course?"].value_counts()
from sklearn.preprocessing import LabelEncoder

le_course = LabelEncoder()
df_new["What is your course?"] = le_course.fit_transform(df_new["What is your course?"])

In [91]:
df_new.head()

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,0,18.0,17,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,1,21.0,25,year 2,3.00 - 3.49,No,No,Yes,No,No
2,1,19.0,4,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,0,22.0,33,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,1,23.0,37,year 4,3.00 - 3.49,No,No,No,No,No

In [92]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

le_study = LabelEncoder()
df_new["Your current year of Study"] = le_study.fit_transform(df_new["Your current year of Study"])

df_new.head()

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,0,18.0,17,3,3.00 - 3.49,No,Yes,No,Yes,No
1,1,21.0,25,4,3.00 - 3.49,No,No,Yes,No,No
2,1,19.0,4,0,3.00 - 3.49,No,Yes,Yes,Yes,No
3,0,22.0,33,5,3.00 - 3.49,Yes,Yes,No,No,No
4,1,23.0,37,6,3.00 - 3.49,No,No,No,No,No

In [93]:
df_new.head()

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,0,18.0,17,3,3.00 - 3.49,No,Yes,No,Yes,No
1,1,21.0,25,4,3.00 - 3.49,No,No,Yes,No,No
2,1,19.0,4,0,3.00 - 3.49,No,Yes,Yes,Yes,No
3,0,22.0,33,5,3.00 - 3.49,Yes,Yes,No,No,No
4,1,23.0,37,6,3.00 - 3.49,No,No,No,No,No

In [94]:
df["What is your CGPA?"].value_counts()

What is your CGPA?
3.50 - 4.00     47
3.00 - 3.49     43
2.50 - 2.99      4
0 - 1.99         3
2.00 - 2.49      2
3.50 - 4.00      1
Name: count, dtype: int64

In [95]:
le_cgpa = LabelEncoder()

le_cgpa = LabelEncoder()
df_new["What is your CGPA?"] = le_cgpa.fit_transform(df_new["What is your CGPA?"])

df_new.head()

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,0,18.0,17,3,3,No,Yes,No,Yes,No
1,1,21.0,25,4,3,No,No,Yes,No,No
2,1,19.0,4,0,3,No,Yes,Yes,Yes,No
3,0,22.0,33,5,3,Yes,Yes,No,No,No
4,1,23.0,37,6,3,No,No,No,No,No

In [114]:
df_new["Marital status"].value_counts()
le_martial_status = LabelEncoder()

df_new["Marital status"] = df_new["Marital status"].replace({"No": 0, "Yes": 1})    

df_new.head()

# -----------------------------------------------------------------

df_new["Do you have Depression?"].value_counts()
le_martial_status = LabelEncoder()

df_new["Do you have Depression?"] = df_new["Do you have Depression?"].replace({"No": 0, "Yes": 1})    

df_new.head()

# -----------------------------------------------------------------

df_new["Do you have Anxiety?"].value_counts()
le_martial_status = LabelEncoder()

df_new["Do you have Anxiety?"] = df_new["Do you have Anxiety?"].replace({"No": 0, "Yes": 1})    

df_new.head()

# -----------------------------------------------------------------

df_new["Do you have Panic attack?"].value_counts()
le_martial_status = LabelEncoder()

df_new["Do you have Panic attack?"] = df_new["Do you have Panic attack?"].replace({"No": 0, "Yes": 1})    

df_new.head()

# -----------------------------------------------------------------

df_new["Did you seek any specialist for a treatment?"].value_counts()
le_martial_status = LabelEncoder()

df_new["Did you seek any specialist for a treatment?"] = df_new["Did you seek any specialist for a treatment?"].replace({"No": 0, "Yes": 1})    

df_new.head()

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,0,18.0,17,3,3,0,1,0,1,0
1,1,21.0,25,4,3,0,0,1,0,0
2,1,19.0,4,0,3,0,1,1,1,0
3,0,22.0,33,5,3,1,1,0,0,0
4,1,23.0,37,6,3,0,0,0,0,0

In [115]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [116]:
X = df_new.drop("Did you seek any specialist for a treatment?" , axis = 1)
y = df_new["Did you seek any specialist for a treatment?"]

In [117]:
# 3. Standardize numeric features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [118]:
# 4. Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.35, random_state=42
)

In [119]:
# Logistic Regression
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
y_pred_lr = log_reg.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_lr))
print(classification_report(y_test, y_pred_lr))

Logistic Regression Accuracy: 0.8857142857142857
              precision    recall  f1-score   support

           0       0.89      1.00      0.94        31
           1       0.00      0.00      0.00         4

    accuracy                           0.89        35
   macro avg       0.44      0.50      0.47        35
weighted avg       0.78      0.89      0.83        35

c:\Users\kousi\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\kousi\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\kousi\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [120]:
# Support Vector Machine
svm = SVC()
svm.fit(X_train, y_train)
y_pred_svm = svm.predict(X_test)
print("SVM Accuracy:", accuracy_score(y_test, y_pred_svm))
print(classification_report(y_test, y_pred_svm))

SVM Accuracy: 0.8857142857142857
              precision    recall  f1-score   support

           0       0.89      1.00      0.94        31
           1       0.00      0.00      0.00         4

    accuracy                           0.89        35
   macro avg       0.44      0.50      0.47        35
weighted avg       0.78      0.89      0.83        35

c:\Users\kousi\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\kousi\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\kousi\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [121]:
# Random Forest
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))

Random Forest Accuracy: 0.8857142857142857
              precision    recall  f1-score   support

           0       0.89      1.00      0.94        31
           1       0.00      0.00      0.00         4

    accuracy                           0.89        35
   macro avg       0.44      0.50      0.47        35
weighted avg       0.78      0.89      0.83        35

c:\Users\kousi\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\kousi\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\kousi\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))